#blog-home{
display: flex;
gap: 20px;
justify-content: center;
max-width: 1200px;
margin: 0 auto;
}
.body-content-card {
display: flex;
justify-content: space-between;
flex-direction: column;
height: 400px;
width: 33%;
}
.card-header-image{
height: 80%;
width: 100%;
padding-bottom: 15px;
}
.card-header-image img {
max-width: 100%;
height: 100%;
object-fit: cover;
}
.blog-home-title h3 {
font-size: 20px;
color: #053863;
color : #fff;
line-height: 1.2em;
}
.read-more-home{
font-size: 20px;
color: #ed442a !important;
}
.c-white {
color: #fff;
}
.overlay {
visibility: hidden;
opacity: 0;
background-color: #fd6513cf;
transition: all 600ms ease 0ms;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
}
.overlay img {
width: 40px !important;
}
.font-etmodules {
font-family: ETmodules !important;
display:none;
}
.owl-theme .owl-nav [class*=owl-]:hover {
background: no-repeat;
color: inherit;
}
.owl-theme .owl-nav button {
color: #FD6513 !important;
font-size: 50px !important;
position: absolute;
top: 50%;
transform: translateY(-50%);
}
.owl-theme .owl-nav button.owl-prev {
left: -50px;
}
.owl-theme .owl-nav button.owl-next {
right: -50px;
}
.enterprises-carousel .owl-item.active.center .enterprise-container {
transition: all 600ms ease 0ms;
transform: scale(1.1);
}
.enterprises-carousel .owl-item {
margin-bottom: 30px;
margin-top: 30px;
}
.active {
color: #FD6513 !important;
} .mapa-empreendimento iframe{
width:100%;
} .et_pb_row.et_pb_row_0_tb_body {
z-index: 0;
}
.et_pb_row.et_pb_row_1_tb_body {
z-index: 0;
}
.et_pb_row.et_pb_row_2_tb_body {
z-index: 1;
}
.et_pb_row.et_pb_row_3_tb_body {
z-index: 0;
}
.et_pb_row.et_pb_row_4_tb_body {
z-index: 0;
}
.et_pb_row.et_pb_row_5_tb_body.et_pb_row_5col {
z-index: 0;
}
.et_pb_row.et_pb_row_8_tb_body {
z-index: 0;
}
.et_pb_section.et_pb_section_4_tb_body.et_section_regular {
z-index: 0;
}
.et_pb_row.et_pb_row_15_tb_body.et_pb_equal_columns.et_pb_gutters1 {
z-index: 0;
} .btn-blue {
margin-top: 70px;  color: #053863!important;
border-width: 2px!important;
border-color: #053863;
border-radius: 0px;
letter-spacing: 0px;
font-size: 20px;
font-family: 'Kanit', Helvetica, Arial, Lucida, sans-serif!important;
background-color: #ffffff00;
display: flex;
justify-content: center;
cursor: pointer;
transition: all 0.3s ease; 
}
.btn-blue:hover {
color: #FD6513!important;
font-size: 22px;
background-color: #ffffff00; 
} .cky-revisit-bottom-left {
display: none!important;
} .lightbox img {
max-width: none; max-height: none; } .floating-button {
font-size: 20px;
position: fixed;
bottom: 20px;
right: 20px;
background-color: #053863!important;
color: #ffffff!important;
padding: 10px 20px;
border-radius: 10px;
overflow: hidden;
z-index:999!important;
}
.floating-button a {
display: block!important;
width: 100%!important; 
height: 100%!important; 
text-decoration: none!important;
color: inherit!important;
}
.floating-button:hover {
font-size: 18px;
padding: 12px 23px;
transition: opacity 0.5s ease, transform 0.5s ease;
} .et_pb_column.et_pb_column_1_4.et_pb_column_12_tb_body.et_pb_css_mix_blend_mode_passthrough {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
align-items: center;
}
.et_pb_column.et_pb_column_1_4.et_pb_column_14_tb_body.et_pb_css_mix_blend_mode_passthrough.et-last-child {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
align-items: center;
}
.et_pb_row.et_pb_row_7_tb_body.et_pb_row_4col {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
} .enterprise-container {
box-shadow: 0px 2px 20px 3px rgb(0 0 0 / 10%);
border-radius: 0px;
}
.item-top {
position: relative;
border-top-right-radius: 0px;
border-top-left-radius: 0px;
overflow: hidden;
}
.item-top .release {
display:none;
position: absolute;
top: auto;
bottom: 60px;
left: 10px;
right: auto;
background-color: #FD6513;
color: #fff;
line-height: 1;
padding: 6px 10px;
border-radius: 0px;
font-size: 13px;
z-index: 9;
}
.item-top img {
opacity: 0.80;
transition: 0.3s ease-in-out;
height: 275px;
width: 100%;
object-fit: fill;
}
.enterprise-container:hover .item-top img {
transform: scale(1.1);
opacity: 1;
transition: 0.3s all ease-in-out;
}
.item-top .rooms {
display: none;
position: absolute;
bottom: 0;
right: 0;
left: 0;
padding: 25px 14px;
color: #fff;
text-transform: uppercase;
font-size: 14px;
font-weight: 600;
line-height: 1.7em;
background-image: linear-gradient(transparent, #053863);
}
.item-top .rooms::after {
content: '';
width: 10%;
height: 1px;
background-color: #fff;
display: block;
}
.item-body {
padding: 10px 15px;
position: relative;
background-color: #fff;
z-index: 11;
}
.item-body h4 {
width:50%;
font-size: 20px;
position: relative;
padding-bottom: 0;
padding-left: 0;
}
.item-body h5 {
font-size: 23px;
position: relative;
padding-bottom: 0;
padding-left: 12px;
}
.item-body h4::after {
display:none;
content: '';
width: 3px;
height: 40%;
background-color: #FD6513;
position: absolute;
top: 0;
left: 0;
}
.item-body .address img {
width: 5px;
display:none;
}
.item-body .address span {  line-height: 1.4;
font-size: 20px;
display: block;
color: #053863;
font-weight: 500 !important;
font-family: "Kanit";
}
.item-body .address {
display: flex;
width:100%;
margin-top: 14px;
margin-bottom: 0px;
}
.item-body  .address > div {
display: flex;
width: 100%;
justify-content: flex-end;
}
.company-adress {
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: stretch;
align-content: space-between;
}
div#company {
display: flex;
width: 100%;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
font-size: 20px;
font-family: 'Kanit';
color: #94b75f;
padding-top: 15px;
}
.item-body .info {
display: flex;
justify-content: space-between;
}
.item-body .info span {
color: #acacac;
font-size: 15px;
flex-direction: column!important;
padding-right: 2px;
}
.item-body .info span img {
width: 18px;
height: fit-content;
align-self: center;
}
.item-footer {
position: relative;
}
.item-footer p {
background-color: #053863;
color: #fff;
text-transform: uppercase;
display: none;
text-align: center;
padding-top: 32px;
padding-bottom: 12px !important;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
margin-top: -20px;
font-size: 18px;
transition: all 300ms ease 0ms;
font-family: 'Kanit', Helvetica, Arial, Lucida, sans-serif;
}
.item-footer a:hover {
background-color: #053863;
}
.item-footer a span {
font-size: 22px;
position: absolute;
top: 44%;
left: auto;
right: auto;
}
.enterprise-container .info{
display: flex;
padding-bottom: 20px;
padding-top: 30px;
justify-content: space-between;
width: 100%;
flex-wrap: nowrap;
flex-direction: row;
align-items: center;
} .pagination-container {
padding-top:50px!important;
display: flex!important;
justify-content: center!important;
}
a.prev.page-numbers{
display:none!important;
}
a.next.page-numbers{
display:none!important;
}
a.page-numbers {
font-size: 19px!important;
color: #053863!important;
margin-right: 10px!important;
transition: all 0.3s!important; 
}
a.page-numbers:hover {
font-size: 20px!important;
color: #ff4714!important;
}
span.page-numbers.current {
font-size: 22px!important;
color: #053863!important;
margin-right: 10px!important;
transition: all 0.3s!important; 
}
span.page-numbers.current:hover {
color: #ff4714!important;
font-size: 23px!important; 
} .titulo-pai {
display: flex;
justify-content: space-between;
width: 100%;
flex-wrap: wrap;
}
h4.titulo {
margin: 0;
padding: 0;
width: 50%;
}
span.valor {
margin: 0;
padding: 0;
}
.owl-theme .owl-dots .owl-dot span {
width: 10px;
height: 5px;
background-color: #d24234;
border-radius: 0;
margin-right: 0;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
width: 32px;
height: 5px;
background-color: #d24234;
border-radius: 0;
margin-right: 0;
}
h6.a-partir{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-end;
}
h6{
font-size: 18px!important;
font-family: 'Kanit'!important;
color: #053863;
} .blog-caroussel .item-body {
display: grid;
justify-content: space-between;
width: 100%;
flex-wrap: wrap;
grid-template-columns: repeat(2,1fr);
}
.blog-caroussel .item-body-right{
padding-left:0px;
}
.blog-caroussel .item-body-right h2{
font-size:35px;
font-family:'kanit';
}
.blog-caroussel .item-body-right p{
font-size:15px;
font-family:'kanit';
padding-top: 30px;
padding-bottom:20px;
font-weight: 400;
color: #000;
}
.blog-caroussel .item-body-left{
padding-right:30px;
}
.item-body-right a{
color: #73A644;
font-size: 16px;
}
.item-body-right a:hover{
color: #73A644;
font-size: 17px;
}
.blog-caroussel .owl-theme .owl-dots .owl-dot span {
width: 10px!important;
height: 5px!important;
background-color: #d24234!important;
border-radius: 0!important;
margin-right: 0!important;
}
.blog-caroussel .owl-theme button.owl-dot.active span {
width: 32px!important;
height: 5px!important;
background-color: #d24234!important;
border-radius: 0!important;
margin-right: 0!important;
} .item-body {
display: flex;
justify-content: space-between;
width: 100%;
flex-wrap: wrap;
}
h4.titulo-pai {
margin: 0;
padding: 0;
width: 50%;
}
h5.valor {
margin: 0;
padding: 0;
font-size:22px;
color:#b5da7c;
}
.info{
margin-top: 20px;
display: flex;
width: 100%;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
} .enterprises-list {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 75px;
}
.enterprises-list .enterprise-container {
width: 100%;
}
.enterprises-list .enterprise-container:nth-child(3n) {
margin-right: 0;
} .enterprises-list-with-filter .enterprises-list {
justify-content: center;
}
.enterprises-list-with-filter .filter {
width: 100%;
text-align: center;
padding: 0 0 40px;
margin-bottom: 20px;
}
.enterprises-list-with-filter .filter span {
cursor: pointer;
font-size: 24px;
color: #ACACAC;
text-align: center;
transition: color 300ms ease 0ms;
font-family: 'kanit', Helvetica, Arial, Lucida, sans-serif;
padding: 10px 50px;
border-right: 1px solid #ACACAC;
font-weight: 400;
}
.enterprises-list-with-filter .filter span:last-child {
border-right: none;
}
.enterprises-list-with-filter .enterprise-container {
transition: all 600ms ease 0ms;
}
.enterprises-list-with-filter .enterprise-container:hover {
transform: scale(1.1);
}
#filter .dropdown-input select {
border: none;
padding: 5px;
max-width: 80%;
width: 80%;
}
#filter .dropdown-input > .d-flex{
width:80%;
display:flex;
flex-direction: columns;
flex-wrap:wrap;
}
#filter > div:nth-child(3) > div.dropdown-input > div > div,
#filter > div:nth-child(6) > div.dropdown-input > div > div{
display:flex;
justify-content:space-between;
align-items: center;
}
#filter div.dropdown-input > div > div:nth-child(1){
margin-bottom:20px;
}
#clear{
cursor:pointer;
}
.no-results {
font-size: 30px;
line-height: 1.4em;
} .enterprise-additional {
display: flex;
flex-wrap: wrap;
justify-content:center;
}
.enterprise-additional .additional {
width: 21%;
margin-right: 5.3333%;
background-color: #FD6513;
border-radius: 20px;
padding: 25px;
text-align: center;
padding: 15px 25px 10px;
margin-bottom: 5%;
}
.enterprise-additional .additional:nth-child(4n) {
margin-right: 0;
}
.enterprise-additional .additional img {
height: 75px;
margin-bottom: 20px;
}
.enterprise-additional .additional h4 {
color: #fff;
font-size: 18px;
text-transform: none;
font-family: 'Kanit', Helvetica, Arial, Lucida, sans-serif;
margin-bottom: 30px;
line-height: 1.2em;
font-weight: 400;
}
.enterprise-additional .additional p {
color: #fff;
line-height: 1.4em;
font-size: 15px;
}
.owl-enterprise-gallery a>img {
height: 280px;
object-fit: cover;
border-radius: 20px;
}
.owl-enterprise-gallery .img-wrap a>img:first-child {
margin-bottom: 60px;
}
.owl-enterprise-gallery.owl-theme .owl-nav button.owl-next {
right: -120px;
}
.owl-enterprise-gallery.owl-theme .owl-nav button.owl-prev {
left: -120px;
}
.owl-enterprise-gallery.owl-theme .owl-nav button {
color: #fff !important;
font-size: 80px !important;
}
.owl-enterprise-gallery.owl-theme .owl-dots button span {
background: transparent;
border: 1px solid #fff;
}
.owl-enterprise-gallery.owl-theme .owl-dots button.active span {
background: #fff;
width: 40px;
}
.gallery-item a {
position: relative;
width: 100%;
}
.gallery-item a:hover .overlay {
visibility: visible;
opacity: 1;
}
.owl-enterprise-plan .gallery-item>a>img {
height: 320px;
object-fit: cover;
border-radius: 20px;
}
.owl-enterprise-plan.owl-theme .owl-nav button {
font-size: 80px !important;
}
.owl-enterprise-plan.owl-theme .owl-nav button.owl-prev {
left: -90px;
}
.owl-enterprise-plan.owl-theme .owl-nav button.owl-next {
right: -90px;
}
.owl-enterprise-plan.owl-theme .owl-dots button span {
background: transparent;
border: 1px solid #FD6513;
}
.owl-enterprise-plan.owl-theme .owl-dots .owl-dot:hover span {
background: #FD6513;
}
.owl-enterprise-plan.owl-theme .owl-dots button.active span {
background: #FD6513;
width: 40px;
}
.owl-enterprise-plan .owl-dots {
position: absolute;
bottom: -175px;
right: 0;
left: 0;
}
img.featured-image {
min-height: 200px;
object-fit: cover;
}
.navigation-thumbs {
margin-top: 35px;
}
.navigation-thumbs img {
height: 75px;
object-fit: cover;
border-radius: 10px;
}
.owl-enterprise-videos .owl-stage {
padding: 38px 0;
}
.owl-enterprise-videos iframe {
border-radius: 20px;
}
.owl-enterprise-videos .owl-item.active.center iframe {
transform: scale(1.1);
}
.map iframe {
width: 100%;
border-radius: 20px;
}
.dynamic-attributes-section ul {
display: grid;
grid-auto-flow: column;
grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}
.dynamic-attributes-section li {
list-style: none;
display: flex;
color: #a9a9a9;
font-size: 17px;
margin: 20px;
align-items: center;
}
.dynamic-attributes-section img {
width: 50px;
height: 100%;
align-self: center;
object-fit: contain;
}
.dynamic-attributes-section p {
margin-left: 20px;
}
.owl-enterprise-videos .owl-nav {
position: absolute;
top: 50%;
width: 100%;
max-width: 100%;
margin: auto;
}
.owl-enterprise-videos .owl-nav span {
font-size: 120px;
font-weight: 600;
}
.owl-enterprise-videos .owl-nav button.owl-prev {
left: 130px;
}
.owl-enterprise-videos .owl-nav button.owl-next {
right: 130px;
}
.wp-vr-player div {
margin: auto;
} .our-trajectory .et_pb_slide_description {
display: flex;
align-items: center;
}
.our-trajectory .et_pb_slide_description .et_pb_slide_title {
margin-right: 70px;
}
.our-trajectory .et_pb_slide_description .et_pb_slide_content {
text-align: left;
}
.our-trajectory .et-pb-controllers a {
position: relative;
}
.our-trajectory .et-pb-controllers a:not(:last-child) {
margin-right: 200px;
}
.our-trajectory .et-pb-controllers a:not(:first-child)::before {
content: '';
position: absolute;
top: 50%;
right: 100%;
left: -200px;
transform: translateY(-50%);
height: 2px;
background-color: #FD6513;
}
.our-trajectory .et-pb-controllers .et-pb-active-control~a::before {
background-color: #fff;
}
.enterprises-list-with-filter .enterprise-container.no-zoom:hover {
transform: scale(1);
}
.enterprise-container.no-zoom:hover .item-top img {
transform: scale(1);
opacity: 1;
transition: 0.3s all ease-in-out;
} section#establishments-section {
display: grid;
grid-template-columns: repeat(9, 1fr);
grid-gap: 10px;
}
section#establishments-section .find-on-map h6 {
font-size: 23px;
margin-right: 50px;
}
section#establishments-section .establishments-buttons {
text-align: center;
padding: 0.3rem 0.8rem;
border-radius: 20px;
}
section#establishments-section .establishments-buttons:hover {
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
transition: 0.3s all ease-in-out;
cursor: pointer;
} section.distances-cards-section {
display: grid;
grid-template-columns: 100px repeat(4, 1fr);
grid-gap: 25px 25px;
}
section.distances-cards-section .get-quickly {
grid-row: span 10;
display: grid;
align-items: start;
padding-top: 70px;
}
section.distances-cards-section .get-quickly h6 {
color: #ff4218;
font-family: 'Kanit';
font-weight: 300;
font-size: 20px;
line-height: 1.6em;
}
section.distances-cards-section .distance-cards {
border-radius: 15px;
background-color: #043064;
color: #fff;
padding: 1em;
font-weight: 300;
text-align: center;
font-size: 13px;
}
section.distances-cards-section .distance-cards .title {
margin-bottom: 10px;
}
section.distances-cards-section .distance-cards .metrics {
display: grid;
grid-template-columns: 50% 50%;
align-items: center;
}
section.distances-cards-section .distance-cards .metrics .distance p {
padding: 0.1em 1.2em;
border-radius: 5px;
border: 1px solid white;
max-width: fit-content;
margin: auto;
}
section.distances-cards-section .distance-cards .metrics .time {
display: grid;
grid-template-columns: auto auto;
align-items: center;
justify-content: space-evenly;
}
section.distances-cards-section .distance-cards .metrics .time img {
width: 30px;
} .banner-slide banner-desktop h2{
display:flex;   
}
.saiba-mais-button{
display:flex;
} .et_pb_slides .et_pb_empty_slide.et_pb_container, .et_pb_slides .et_pb_empty_slide .et_pb_slider_container_inner {
display: flex!important; flex-direction: row-reverse !important; }
.banner-slide {
height: 750px;
background-position: center;
background-size: cover;
align-items: flex-end;
}
.banner-mobile {
display: none;
}
.banner-desktop {
display: flex;
}
.banner-slide .container {
margin-top: 0;
margin-bottom: 80px;
text-align: center;
padding-top: 0;
}
.banner-btn {
color: #fff;
border: 2px solid #fff;
border-radius: 9px;
padding: 10px 40px;
transition: all .2s;
}
.banner-btn:hover {
border-color: #5a1e73;
} #owl-plant-photos .owl-stage-outer {
padding: 10px 0;
}
#owl-plant-photos .item{
box-shadow:5px 3px 10px 1px rgba(0,0,0,0.3);
}
#owl-plant-photos img {
object-fit: fill;
height: 400px;
aspect-ratio: 16/7;
}
#owl-plant-photos button.owl-dot span{
width: 10px;
height: 5px;
background-color: #d24234;
border-radius: 0;
margin-right:0;
}
#owl-plant-photos button.owl-dot.active span{
width: 32px; 
height: 5px; 
background-color: #d24234;
border-radius: 0;
margin-right:0;
}
section#well-being {
justify-content: center;
}
#well-being{
font-family:'Kanit',Helvetica,Arial,Lucida,sans-serif;
}
#well-being .well-being-head .title{
justify-content:center!important;
margin-bottom: 30px;
}
#well-being .well-being-head .title img {
width: 80px;
margin-right: 15px;
-webkit-animation: fadeTop 1s cubic-bezier(.77,0,.175,1) 1;
animation: fadeTop 1s cubic-bezier(.77,0,.175,1) 1;
}
#well-being .well-being-head .title h4 {
font-family: 'Kanit',Helvetica,Arial,Lucida,sans-serif;
color: #d24234;
font-size: 50px;
font-weight: 500;
margin-top: 20px;
}
#well-being .well-being-body.confort{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-gap: 10px;
}
#well-being .well-being-body .content span{
font-size: 18px;
color: #d24234;
margin-right: 10px;
width: 7%;
}
#well-being .well-being-body .content p{
width:88%;
}
#owl-condominium-photos .owl-stage-outer {
padding: 10px 0;
}
#owl-condominium-photos .item{ }
#owl-condominium-photos img {
object-fit: contain;
height: 400px;
aspect-ratio: 16/7;
}
#owl-condominium-photos button.owl-dot span{
width: 10px;
height: 5px;
background-color: #d24234;
border-radius: 0;
margin-right:0;
}
#owl-condominium-photos button.owl-dot.active span{
width: 32px; 
height: 5px; 
background-color: #d24234;
border-radius: 0;
margin-right:0;
}
#technical-information{
font-family:'Kanit',Helvetica,Arial,Lucida,sans-serif;
}
#technical-information .col-4{
padding: 0 20px;
}
#technical-information .col-4:not(:last-child){
border-right: 1px solid #000;
}
#technical-information .technical-information-head img {
width: 80px;
-webkit-animation: fadeTop 1s cubic-bezier(.77,0,.175,1) 1;
animation: fadeTop 1s cubic-bezier(.77,0,.175,1) 1;
}
#technical-information .technical-information-head h4 {
position:relative;
font-family:'Kanit',Helvetica,Arial,Lucida,sans-serif;
color: #f9ab00;
font-size: 18px;
font-weight: 400;
margin-top: 20px;
}
#technical-information .technical-information-head h4::after{
content: '';
position: absolute;
height: 1px;
border: 1px solid #f9ab00;
width: 96%;
bottom: -15px;
left: 2%;
right: 2%;
}
#technical-information .col-4:nth-child(2) .technical-information-head h4::after{
content: '';
position: absolute;
height: 1px;
border: 1px solid #f9ab00;
width: 55%;
bottom: -15px;
left: 22%;
right: 5%;
}
#technical-information .technical-information-body{
margin-top: 40px;
}   #technical-information .technical-information-body .content span{
font-size: 16px;
color: #f9ab00;
margin-right: 10px;
}
#technical-information .technical-information-body .content p{
color: #fff;
}
.col-12.col-lg-4.mb-3.mb-lg-0 {
display: flex!important;
flex-direction: row!important;
flex-wrap: nowrap!important;
justify-content: space-between!important;
width: 100%!important;
}
#technical-information .technical-information-body {
width: 100%;
column-count: 4;
column-gap: 5px;
}
.d-flex.flex-wrap.flex-column.justify-content-center.align-items-center.technical-information-head {
padding-right: 50px!important;
}
.d-flex.flex-wrap.align-items-start.mb-3.content {
margin: 0px!important;
}
.col-12.col-lg-4.mb-3.mb-lg-0 {
padding-top: 50px;
padding-bottom:50px;
}
.et_pb_row.et_pb_row_12_tb_body.et_pb_equal_columns.et_pb_gutters1 {
padding-bottom: 50px;
}
.stages .stage-icons{
display: flex;
flex-wrap: wrap;
align-items: end;
}
.stages .stage-icons .stage {
width: 16.6666%;
text-align: center;
}
.stages .stage-icons .stage img {
height: 80px;
}
.stages .stage-icons .stage:first-child img {
height: 60px;
margin-bottom: 10px;
}
.stages .stage-icons .stage p {
font-family: 'Kanit',Helvetica,Arial,Lucida,sans-serif;
color: #fff;
font-size: 20px;
}
.stages .time-line {
width: 100%;
padding: 12px 85px 0;
}
.professional-content{
width: 20%;
margin-left: 5em;
}
.professional-content img{
max-width: 124px;
object-fit: fill;
height: auto;
}
.professional-content p{
color: #fff;
}
.top-row {
display: flex;
justify-content: center;
align-items: center;
}
.bottom-row {
display: flex;
justify-content: center;
align-items: center;
} .calculadora-iframe{
frameborder: 0!important;
width: 100%!important;
height: 1670px!important;
}  #professionals {
display: flex!important;
flex-wrap: wrap!important;
justify-content: space-between!important;
}
.professional-content {
flex: calc(30% - 10px)!important; text-align: center!important;
margin-bottom: 20px!important; box-sizing: border-box!important; padding: 0 10px!important; } #filter > div {
margin-bottom: 20px;
}
#filter .dropdown-filter {
display: flex;
justify-content: space-between;
width: 100%;
margin-bottom: 20px;
cursor: pointer;
}
#filter .filter-name {
display: flex;
align-items: center;
}
#filter .filter-name img {
width: 24px;
}
#filter .filter-name h4 {
font-family: 'Kanit',Helvetica,Arial,Lucida,sans-serif;
font-size: 20px;
font-weight: 500;
padding: 0;
margin-left: 10px;
}
#filter .dropdown-filter svg{
font-size: 20px;
fill: #b5da7c;
transform: rotate(-90deg);
transition: transform 0.5s ease;
}   #filter .dropdown-input{
display:none;
} #sb_instagram .sbi_follow_btn a{
background: #408bd1;
color: #fff;
margin-top: 20px;
} .et_pb_row.et_pb_row_0_tb_footer {
background-color: #00141c !important;
}
.et_pb_row.et_pb_row_0_tb_footer {
padding: 0px!important;
}
div#wpforms-227762 {
margin: 0!important;
}
form#wpforms-form-227762 {
display: flex!important;
flex-wrap: wrap!important;
align-items: center!important;
padding: 10px!important;
background: #fff !important;
}
.wpforms-field-container {
width: 90% !important;
}
input#wpforms-227762-field_2 {
background-color: #F7F7F7!important;
max-width: 100% !important;
height: 65px!important;
border: none!important;
font-size:18px!important;
font-weight:600!important;
}
.wpforms-submit-container {
width: 10% !important;
padding-top: 0px !important;
margin-top: 0 !important;
}
button#wpforms-submit-227762 {
width: 100% !important;
display: flex!important;
height: 65px !important;
background: transparent!important;
box-shadow: none!important;
color: #8bc78b!important;
justify-content: center!important;
align-items: end!important;
padding-bottom: 5px!important;
}
button#wpforms-submit-227762:hover {
transform: scale(1.1)!important;
}
div#wpforms-227762-field_2-container {
padding: 0!important;
}
button#wpforms-submit-227762::before {
position: absolute!important;
top: 10px!important;
left: 40%!important;
content: ""!important;
background-image: url(https://aconchegou.com/wp-content/uploads/2023/11/Icones-22.svg)!important;
height: 25px!important;
width: 25px!important;
background-repeat: no-repeat!important;
background-size: cover!important;
display: block!important;
}
.item-body {
display: flex;
width: 100%;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.item-body {
padding: 10px 15px;
position: relative;
background-color: #fff;
z-index: 11;
}
.item-body .info span {
color: #acacac!important;
font-family: 'kanit';
font-size: 16px!important;
display: flex!important;
flex-wrap: wrap;
align-content: space-between;
align-items: center;
}
a#cn-accept-cookie{
color: #053863!important;
border-width: 2px!important;
border-color: #053863;
border-radius: 0px;
letter-spacing: 0px;
font-size: 20px;
font-family: 'Kanit',Helvetica,Arial,Lucida,sans-serif!important;
background-color: #FFFFFF;
}
span#cn-notice-text {
font-family: 'Kanit'!important;
font-size: 17px;
} img.wpp_button {
width: 60px!important;
} .dtq-iconbox-inner.dtq-bg-support {
height: 250px;
display: flex;
align-content: center;
align-items: center;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
} .et_pb_column.et_pb_column_1_4.et_pb_column_9.et_clickable.et_pb_section_video_on_hover.et_pb_section_parallax_hover.et_pb_css_mix_blend_mode_passthrough {
height: 360px;
}
.et_pb_column.et_pb_column_1_4.et_pb_column_10.et_clickable.et_pb_section_video_on_hover.et_pb_section_parallax_hover.et_pb_css_mix_blend_mode_passthrough{
height: 360px;
}
.et_pb_column.et_pb_column_1_4.et_pb_column_11.et_clickable.et_pb_section_video_on_hover.et_pb_section_parallax_hover.et_pb_css_mix_blend_mode_passthrough{
height: 360px;
}
.et_pb_column.et_pb_column_1_4.et_pb_column_12.et_clickable.et_pb_section_video_on_hover.et_pb_section_parallax_hover.et_pb_css_mix_blend_mode_passthrough{
height: 360px;
}
.et-db #et-boc .et-l .et_pb_module div.wpforms-container-full .wpforms-confirmation-container-full, .et-db #et-boc .et-l .et_pb_module div[submit-success]>.wpforms-confirmation-container-full {
color: #333333;
margin: 0 auto 0px!important;
padding: 15px;
overflow-wrap: break-word;
}
.dtq-iconbox-inner.dtq-bg-support {
height: 250px;
}
.description-slider p{
font-family: 'Kanit',Helvetica,Arial,Lucida,sans-serif !important;
color: #fff;
margin: 8px;
padding: 0px;
text-align: center;
font-size: 30px;
text-transform: uppercase;
}
.description-slider p:last-child{
font-size: 60px;
margin-top: 22px;
font-weight: bold;
}
.et_pb_slide_content {
display: block !important;
}
.filter-container{
overflow: hidden !important;
height: 600px;
} @media screen and (min-width: 1000px) and (max-width: 1400px) {
.filter-container {
height: 350px !important;
overflow-y: scroll !important;
}
}
@media screen and (max-width: 1024px){
#blog-home{
flex-wrap: wrap;
}
}
@media screen and (max-width: 991px) {
.enterprises-list {
grid-gap: 30px;
grid-template-columns: repeat(2, 1fr);
}
.enterprises-list .enterprise-container {
width: 100%;
}
.enterprises-list .enterprise-container:nth-child(2n) {
margin-right: 0%;
}
.enterprises-list .enterprise-container:nth-child(3n) {
margin-right: 4%;
}
.enterprises-list-with-filter .filter span {
padding: 10px 38px;
}
.enterprise-additional .additional {
width: 45%;
margin-right: 10%;
}
.enterprise-additional .additional:nth-child(4n) {
margin-right: 10%;
}
.enterprise-additional .additional:nth-child(2n) {
margin-right: 0;
}
.owl-enterprise-gallery.owl-theme .owl-nav button.owl-prev {
left: -90px;
}
.owl-enterprise-gallery.owl-theme .owl-nav button.owl-next {
right: -90px;
}
.owl-enterprise-plan.owl-theme .owl-nav button.owl-prev {
left: -70px;
}
.owl-enterprise-plan.owl-theme .owl-nav button.owl-next {
right: -70px;
}
.our-trajectory .et-pb-controllers a:not(:last-child) {
margin-right: 90px;
}
.our-trajectory .et-pb-controllers a:not(:first-child)::before {
left: -90px;
}
.professional-content {
width: 32%;
margin-left: 0;
}
.stages .stage-icons {
align-items: center;
}
.stages .stage-icons .stage:first-child img {
height: 50px;
margin-bottom: 10px;
margin-top: 25px;
}
.stages .time-line {
padding: 12px 50px 0;
}
.description-slider p{
font-family: 'Kanit',Helvetica,Arial,Lucida,sans-serif !important;
color: #fff;
margin: 8px;
padding: 0px;
text-align: center;
font-size: 22px;
text-transform: uppercase;
}
.description-slider p:last-child{
font-size: 40px;
margin-top: 22px;
font-weight: bold;
}
.et_pb_slide_content {
display: block !important;
}
.blog-caroussel .item-body-right h2{
font-size: 30px;
font-family:'kanit';
padding-top: 20px;
}
.blog-caroussel .item-body {
display: flex;
justify-content: space-between;
width: 100%;
flex-wrap: wrap;
}
}
@media screen and (max-width: 767px) {
.description-slider {
margin-top: 28px;
}
.description-slider p{
font-size: 18px !important;
margin: 0;
}
.description-slider p:last-child{
font-size: 40px !important;
margin-top: 10px;
}
.et_pb_slides .et_pb_empty_slide.et_pb_container, .et_pb_slides .et_pb_empty_slide .et_pb_slider_container_inner {
display: flex!important;
justify-content: center!important;
}
#well-being .well-being-head .title h4 {
font-family: 'Kanit',Helvetica,Arial,Lucida,sans-serif;
color: #d24234;
font-size: 40px;
font-weight: 500;
margin-top: 20px;
}
.et_pb_section_0_tb_body.et_pb_section{
padding-top:0px;
}
.blog-caroussel .item-body {
display: flex;
justify-content: center;
width: 100%;
}
.blog-caroussel .item-body-right h2{
font-size:23px;
padding-top:30px;
font-family:'kanit';
}
.blog-caroussel .item-body-right p{
font-size:13px;
font-family:'kanit';
padding-top: 20px;
padding-bottom:20px;
font-weight: 400;
color: #000;
}
.blog-caroussel .item-body-left{
padding-right:0px;
}
.item-body-right a{
color: #73A644;
font-size: 15px;
}
.item-body-right a:hover{
color: #73A644;
font-size: 16px;
}
.et_pb_section_0_tb_body.et_pb_section{
padding-bottom:50px!important;
}
.banner-home .et_pb_slider_container_inner {
display: flex !important;
flex-direction: column-reverse !important;
}
.responsive-icon {
opacity: 0;
transition: 0.2s all ease-in-out;
}
.enterprises-carousel .owl-item.active.center .enterprise-container {
transform: scale(1);
}
.enterprises-list{
grid-template-columns: repeat(1, 1fr); 
}
.enterprises-list .enterprise-container {
width: 100%;
}
.enterprises-list .enterprise-container,
.enterprises-list .enterprise-container:nth-child(3n) {
margin-right: 0;
}
.enterprises-list-with-filter .filter span {
display: block;
border-right: 0;
border-bottom: 1px solid #ACACAC;
padding-bottom: 16px;
}
.enterprise-additional .additional {
width: 100%;
margin-right: 0;
}
.owl-enterprise-gallery.owl-theme .owl-nav button.owl-prev {
left: -68px;
}
.owl-enterprise-gallery.owl-theme .owl-nav button.owl-next {
right: -68px;
}
.owl-enterprise-plan.owl-theme .owl-nav button.owl-prev {
left: -48px;
}
.owl-enterprise-plan.owl-theme .owl-nav button.owl-next {
right: -48px;
}
.owl-enterprise-videos .owl-item.active.center iframe {
transform: scale(1);
}
.our-trajectory .et-pb-controllers a:not(:last-child) {
margin-right: 20px;
}
.our-trajectory .et-pb-controllers a:not(:first-child)::before {
left: -20px;
}
.our-trajectory .et_pb_slide_description {
flex-direction: column;
}
.our-trajectory .et_pb_slide_description .et_pb_slide_title {
margin-bottom: 15px;
}
.banner-slide {
height: 600px;
}
.banner-mobile {
display: flex;
}
.banner-home .container{
width:95%;
}
.banner-home .banner-btn {
padding: 10px 10px;
}
.owl-nav button.owl-prev {
left: 0px;
}
.owl-nav button.owl-next {
right: 0px;
}
.banner-desktop {
display: none;
}
section#establishments-section {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 10px;
}
section.distances-cards-section {
display: grid;
grid-template-columns: repeat(1, 1fr);
grid-gap: 20px;
width: 80%;
margin: auto;
}
section.distances-cards-section .get-quickly {
grid-row: span 1;
display: grid;
align-items: center;
}
.dynamic-attributes-section li {
margin: 10px;
}
.owl-enterprise-videos .owl-nav button.owl-prev {
left: -50px;
}
.owl-enterprise-videos .owl-nav button.owl-next {
right: 0px;
}
#close h4 {
margin-bottom: 20px;
}
.mx-2.d-flex.flex-column.align-items-center {
margin-bottom: 20px;
}
#well-being .well-being-body .content p {
width: 85%;
}
.stages {
overflow-x: auto;
padding-bottom: 20px;
}
.stages .stage-icons{
flex-wrap: nowrap;
}
.stages .stage-icons .stage {
width: 32.6666%;
margin-left: 5%;
padding-bottom: 20px;
}
.stages .stage-icons .stage p {
width: 120px;
}
.stages .time-line {
width: 850px;
}
.professional-content {
width: 50%;
}
#technical-information .technical-information-body {
width: 100%!important;
column-count: 2!important;
column-gap: 5px!important;
}
.col-12.col-lg-4.mb-3.mb-lg-0 {
display: flex!important;
flex-direction: column!important;
flex-wrap: nowrap!important;
justify-content: space-between!important;
width: 100%!important;
}
.body-content-card{
width: 100%;
}
}
@media (max-width: 376px){
.stages .time-line {
width: 830px;
}
}
@media (max-width: 320px){
.stages .time-line {
width: 740px;
}
} .et_pb_slides .et_pb_slider_container_inner{
direction: rtl;
}
.et_pb_slide_with_image .et_pb_slide_description {
float: left !important;
}
.loading{
position: fixed;
font-size: 20px;
top: 0;
right: 0;
left: 0;
bottom: 0;
background-color: #dbdbdb7e;
display: flex;
justify-content: center;   
align-items: center; 
z-index: 9999999;
}